.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.valid {
    color: #999;
    font-size: 12px;
    float: right;
}

h6 {
    text-align: center;
}

span {
    text-align: center;
    font-size: 13px;
}