<div class="col-lg-2">
    <img src="../../../assets/img/user.jpg" class="rounded-circle w-100" alt="User">

    <h6>Homero Simpsom</h6>
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eligendi, illo quo ex perferendis, ut hic et provident dicta doloremque similique quis possimus debitis quos excepturi voluptate architecto! Laboriosam, dicta!</span>
</div>
<div class="col-lg-5">
    <form [formGroup]="form" class="example-form">
        <h2>User details</h2>
        <mat-form-field class="w-100 pb-3">
            <input matInput required placeholder="Full Name" formControlName="fullname">
            <span class="valid" *ngIf="form.controls['fullname'].touched && form.controls['fullname'].errors?.required">Full name is required</span>
        </mat-form-field>

        <mat-form-field class="w-100 pb-3">
            <input matInput [matDatepicker]="picker" placeholder="Your Birthday" formControlName="yourbirthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <span class="valid" *ngIf="form.controls['yourbirthday'].touched && form.controls['yourbirthday'].errors?.required">Your Birthday is required</span>
        </mat-form-field>

        <mat-form-field class="w-100 pb-3">
            <mat-label>Gender</mat-label>
            <select matNativeControl required formControlName="gender">
                    <option></option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                      </select>
            <span class="valid" *ngIf="form.controls['gender'].touched && form.controls['gender'].errors?.required">Gender is required</span>
        </mat-form-field>
        <div class="row">
            <div class="col-lg-3">
                <mat-form-field class="w-100 pb-3">
                    <mat-label>Country</mat-label>
                    <select matNativeControl required formControlName="country">
                <option></option>
                <option value="peru">Perú</option>
                <option value="otros">Otros</option>
                    </select>
                    <span class="valid" *ngIf="form.controls['country'].touched && form.controls['country'].errors?.required">Country is required</span>

                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <mat-form-field class="w-100 pb-3">
                    <input matInput placeholder="Phone" formControlName="phone">
                    <span class="valid" *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.required">Phone is required</span>
                    <span class="valid" *ngIf="form.controls['phone'].errors?.pattern">Only number</span>
                    <mat-hint><strong>Mobile:</strong> 094 231 234</mat-hint>
                    <mat-hint align="end"><strong>Fixed:</strong> 2123 1234</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="w-100 pb-5">
            <textarea matInput #bio maxlength="256" rows="5" placeholder="Bio" formControlName="bio"></textarea>
            <mat-hint>Tell us about yourself</mat-hint>
            <mat-hint align="end">{{bio.value.length}} / 256</mat-hint>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="form.invalid">Submit</button>

    </form>
</div>
<div class="col-lg-5">
    <form class="example-form">
        <h2>Accounts details</h2>

        <mat-form-field class="w-100 pb-3">
            <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="w-100 pb-3">
            <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="w-100 pb-3">
            <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="w-100 pb-3">
            <input matInput placeholder="Confirm Password">
        </mat-form-field>

        <mat-checkbox>I accept term and conditions</mat-checkbox>
        <div class="clearfix"></div>
        <button class="mt-5" mat-raised-button disabled>Submit</button>

    </form>
</div>